@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root:root, html, body, #app {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

